#login_button
{
	width: 80%;border-radius: 15px;
}

#user_name{
height: 100%;
margin-left: 550px;
}

#sub_heading{
  height: 100%;
  margin-left: 750px;
}


body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}